@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #FFD700;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #ADD8E6;
}

#column-2 {
  background: #F08080;
}

#column-3 {
  background: #E0FFFF;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #4B0082 ;
  }

  #column-1 {
    background-color: #8A2BE2;
  }

  #column-2 {
    background-color: #00008B;
  }

  #column-3 {
    background-color: #6495ED;
    width: 100%;
  }

  footer {
    background-color: #DDA0DD;
  }

  .col-3 {
    width: 50%;
  }
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #FF1493;
  }

  #column-1 {
    background-color: #B22222;
  }

  #column-2 {
    background-color: #FF00FF;
  }

  #column-3 {
    background-color: #DAA520;
    width: 33.3%;
  }

  footer {
    background-color: #FFD700;
  }

  .col-3 {
    width: 33.3%;
  }
}
